/* GENERAL */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.5rem;
  background-color: var(--grey-1);
  padding: 6rem 3.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu__button {
  text-align: left;
  width: 100%;
  padding: 1.5rem 0;
}

.menu__tl-item {
  font-size: var(--fs-500);
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__title {
  color: var(--grey-4);
}

.projects__new {
  width: 2.5rem;
}

.projects__tabs {
  max-height: 20rem;
  overflow: auto;
}

.project {
  display: flex;
  gap: 1rem;
}

.menu__button--project {
  padding: 1.2rem 0;
}

.menu__button--project::before {
  content: attr(data-emoji);
  margin-right: 1rem;
}

.project__delete {
  display: none;
  width: 2.5rem;
}

.project:hover .project__delete {
  display: initial;
}

/* FOOTER */

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__copy {
  font-family: var(--ff-prm);
}

.sidebar__github-link {
  width: 3rem;
}
