/* GENERAL */

.sidebar {
  --padding-lr: 3.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.5rem;

  background-color: var(--grey-1);
  padding: 6rem 0;

  height: 100%;
  overflow: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu__tl-item {
  font-size: var(--fs-500);
}

.menu__button {
  text-align: left;
  width: 100%;
  padding: 1.5rem var(--padding-lr);
}

.menu__button--active {
  background-color: var(--grey-2);
  font-weight: var(--fw-bld);
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-lr);
}

.projects__title {
  color: var(--grey-4);
}

.projects__new {
  width: 2.5rem;
}

.projects__tabs {
  max-height: 20rem;
  overflow: auto;
}

.project {
  position: relative;
}

.menu__button--project {
  padding: 1.2rem 7rem 1.2rem var(--padding-lr);
}

.project__delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--padding-lr);

  display: none;
  width: 2.25rem;
}

.project:hover :not(.menu__button--active) + .project__delete {
  display: initial;
}

/* FOOTER */

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-lr);
}

.sidebar__copy {
  font-family: var(--ff-prm);
}

.sidebar__github-link {
  width: 3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 50em) {
  .sidebar {
    --padding-lr: 2.5rem;
  }
}

@media screen and (max-width: 40em) {
  .sidebar {
    --padding-lr: 3.5rem;
    display: none;
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
  }

  .sidebar--active {
    display: flex;
  }
}
